@model _10_LayoutPages2.Models.ProfilViewModel

@{
    ViewData["Title"] = "UpdateProfil";
    Layout = "~/Views/Shared/_AccountTemplate.cshtml";
}

<h1>UpdateProfil</h1>

<h4>ProfilViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateProfil">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (ViewData["mesaj"] != null)
{
    <b> @ViewData["mesaj"]</b>
}

<div>
    <a asp-action="Index">Geri Dön</a>
</div>




<!--Not:  bu scriptler jquery ile çalışır...-->

<!--sectionlar alt sayfalarda özel bölümler oluşturmak için kullanılır. Bu özel bölümler layout pagelerde istenilen yerde render edilir.. Sanki layoutta yazılmış gibi.-->

@section MyScript{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}