@model PageHeadingViewModel

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="top-text header-text">
                <h6>@Model.Title</h6>
                <h2>@Model.Text</h2>
            </div>
        </div>
    </div>
</div>