@model _6_ModelValidation.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div class="container">


        <h4>User</h4>
        <hr />

        @**
            asp.net mvc ile  Razor syntax  ve html.helperlar geliştirildi...

            asp.net core mvc ile ek olarak tag helper geliştirildi...
        *@

        <a href="@Url.Action("Detay","Home")">Git</a>
        <br />
        @Html.ActionLink("git", "Detay", "Home")
        <br />
        <a asp-action="Detay" asp-controller="Home">git</a>

        @*Razor syntax*@
        @using (Html.BeginForm("KayıtOl", "Home", FormMethod.Post))
        {
        }
        <br />
        <br />
        <form asp-action="KayıtOl" asp-controller="Home" method="post">
        </form>
        @Html.TextBoxFor(c => c.UserName)
        <br />
        <input type="text" asp-for="UserName" />
        <br />
        <br />

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password2" class="control-label"></label>
                        <input asp-for="Password2" class="form-control" />
                        <span asp-validation-for="Password2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


</body>
</html>
