
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <form asp-action="Index" asp-controller="Login" method="post">
        <input type="text" name="username" placeholder="Kullanıcı Adınız" />
        <br />
        <input type="password" name="password" placeholder="Şifreniz" />
        <br />
        <input type="submit" value="Giriş Yap" />
    </form>

    @if (ViewData["LoginError"] != null)
    {
        <h1>@ViewData["LoginError"]</h1>
    }

</body>
</html>
