
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Giris</title>
</head>
<body>

    <form method="post">
        <input type="text" name="UserName" />
        <br />
        <input type="password" name="Password" />
        <br />
        <input type="submit" value="Kayıt" />
    </form>

    <hr />


</body>
</html>
