@model ContactViewModel

@{
    ViewData["Title"] = Model.PageTitle;
}

<div class="page-heading">
    <!--Razor partial yerine TagHelper partial'ı kullanıyoruz...-->
    @*@await Html.PartialAsync("_PageHeading", Model.PageHeading)*@ 

    <partial name="_PageHeading" for="PageHeading" />
</div>

<div class="contact-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div id="map">
                                <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="650px" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-lg-6 align-self-center">

                            @if (ViewData["mesaj"] != null)
                            {
                                <div id="dvMessage" class="alert alert-info">
                                    @ViewData["mesaj"]
                                </div>
                            }


                            <form id="contact" method="post" asp-controller="Contact" asp-action="Index">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <fieldset>
                                            <input type="text" asp-for="Name" placeholder="Name" autocomplete="off" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-6">
                                        <fieldset>
                                            <input type="text" asp-for="SurName" placeholder="Surname" autocomplete="off" />
                                            <span asp-validation-for="SurName" class="text-danger"></span>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <input type="text" asp-for="Email" placeholder="Your Email" autocomplete="off" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <ul>
                                            @{
                                                List<SelectListItem> li = new List<SelectListItem>();
                                                li.Add(new SelectListItem { Text = "Cars", Value = "cars" });
                                                li.Add(new SelectListItem { Text = "Apartments", Value = "aparmtents" });
                                                li.Add(new SelectListItem { Text = "Shopping", Value = "shopping" });
                                                li.Add(new SelectListItem { Text = "Food & Live", Value = "food" });
                                                li.Add(new SelectListItem { Text = "Traveling", Value = "traveling" });
                                            }

                                            @for (int i = 0; i < li.Count; i++)
                                            {
                                                // name ortak özellik olduğu için seçililer auto bind edilir.....
                                                <li><input type="checkbox" name="Options" value="@li[i].Value"><span>@li[i].Text</span></li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea asp-for="Message" type="text" class="form-control" placeholder="Message"></textarea>
                                            <span asp-validation-for="Message" class="text-danger"></span>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="main-button "><i class="fa fa-paper-plane"></i> Send Message</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ValidateScript{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


    <script>

        // 3 saniye sonra mesaj divini gizle
        // setTimeout =>işaret edilen fonksiyonu belirtilen süre sonunda çalıştırır
        setTimeout(function () {
            $("#dvMessage").hide();
        }, 5000);


    </script>

}