
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Merhaba View</h1>
    <br />
    <p>Ben action tarafından üretilen bir sayfayım. beni html sayfasıyla karıştırma . Ben ondan daha yetenliyim...</p>

      <p>cshtml uzantlı dosyalar razor view olarak adlandırılır. Razor View asp.net core içeriisnde razor view engine tarafından render (çıktı) edilir....Bu dosya içeriisnde html, css ve javascript ek olarak c# komutlarıda yazılır....bu yüzden cshtml(csharphtml) uzantılıdır</p>

    
</body>
</html>
