
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>OPSSSSS. YETKİN OLMAYAN YERLERER GİRMEYE ÇALIŞIYORSUN... BİZDE SENİN KİM OLDUĞUNU İYİ BİLİYORUZ... DERHAL 
    <a asp-action="Index" asp-controller="Home">GERİ DÖN</a>
    </h1>


