@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <h1>Hoş geldin @Model</h1>
    <br />
    Çıkış yapmak için <a asp-action="LogOff" asp-controller="Account">TIKLAYINIZ</a>

</body>
</html>
