@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

<h1>
    MVC AREA YAPISI
</h1>
    <h3>
       Projemizde controller ve view sayımız arttıkça yönetmesi zorlaşacaktır... Area yapısı ile bunu yönetilebilir şekilde kategorize edebiliriz.. Arealar bize aynı dizin içeerisinde controller-view-model yapısı sunarlar. İlgili modüller bu area yapısı içerisinde geliştirilebilir..
        <br />
        projemize area eklemek için projemize sağ tık yapıp add > new scafolding-item seçeneği'ni kullanırız...


    </h3>
    

</div>
