@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountTemplate.cshtml"; // Layout path belirtildiği için ViewStart dosyasındaki _Layout dikkate alınmaz...
}

<a asp-action="Index" asp-controller="Home">Geri Dön...</a>
<h1>Login</h1>
<br />
<form asp-action="Login" asp-controller="Home">
    <input type="text" placeholder="Email Adres" asp-for="UserName" />
    <span asp-validation-for="UserName"></span>
    <br />
    <input type="text" placeholder="Şifre" asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />
    <input type="submit" value="Giriş Yap" />
</form>

<br />
@if (ViewData["mesaj"] != null)
{
    <b> @ViewData["mesaj"] </b>
    <br />
    <a asp-action="Index" asp-controller="Profil">Profilime Git</a>
}


<!--sectionlar alt sayfalarda özel bölümler oluşturmak için kullanılır. Bu özel bölümler layout pagelerde istenilen yerde render edilir.. Sanki layoutta yazılmış gibi.-->

@section MyScript{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}